<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <link rel="stylesheet" href="https://use.typekit.net/sol4wcr.css" />
    <link rel='stylesheet' href='public/css/index.css'>
    <script src="public/js/movingcards.js"></script>
    <title>Projects</title>
</head>
<body>
    <div class="custom-margin-top projects-container">
        <main class='project'>
            <div class='project-info'>
                <h1>Project</h1>
                <!-- <div class='project-members'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button class='project-members__add'>Add Participant</button>
                </div> -->
            </div>
            <div class='project-tasks'>
                <div class='project-column dropzone vh-100' id="todo" data-status="0">
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>To Do</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <% for (let i = 0; i < todos.length; i++) { %>
                        <div class='task' draggable='true' data-task-id="<%= todos[i].id; %>">
                            <div class='task__tags'>
                                <span class='task__tag task__tag--html'><%= users.username; %> </span>
                                <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                            <p><%= todos[i].description; %> </p>
                            <div class='task__stats'>
                                <span><%= todos[i].createdAt; %> </span>
                                <span class='task__owner'></span>
                                
                            </div>
                            <button class="deletetask" >delete</button>
                        </div>
                    <% } %>

                </div>
                <div class='project-column dropzone vh-100' id="inprogress" data-status="1">
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>In Progress</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>

                    <% for (let i = 0; i < inprogress.length; i++) { %>
                        <div class='task' draggable='true' data-task-id="<%= inprogress[i].id; %>">
                            <div class='task__tags'>
                                <span class='task__tag task__tag--html'>  <%= users.username; %> </span>
                                <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                            <p><%= inprogress[i].description; %> </p>
                            <div class='task__stats'>
                                <span><%= inprogress[i].createdAt; %> </span>
                                <span class='task__owner'></span>
                                
                            </div>
                            <button class="deletetask" >delete</button>
                        </div>
                    <% } %>

                </div>
                <div class='project-column dropzone vh-100' id="done" data-status="2">
                    <div class='project-column-heading'>
                        <h2 class='project-column-heading__title'>Done</h2>
                        <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <% for (let i = 0; i < done.length; i++) { %>
                        <div class='task' draggable='true' data-task-id="<%= done[i].id; %>">
                            <div class='task__tags'>
                                <span class='task__tag task__tag--html'>  <%= users.username; %> </span>
                                <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                            <p><%= done[i].description; %> </p>
                            <div class='task__stats'>
                                <span><%= done[i].createdAt; %> </span>
                                <span class='task__owner'></span>
                                
                            </div>
                            <button class="deletetask" >delete</button>
                        </div>
                    <% } %>
                </div>
                <div class='project-column dropzone vh-100' id="newcard">
                    <div><h1>Create Task</h1>
                        <form method="POST" action="/projects">
                            <div class="input-group">
                                <textarea name="taskValue" class="form-control"

                                          placeholder="Enter todo item"
                                          aria-label="With textarea"></textarea>

                                placeholder="Enter todo item"
                                aria-label="With textarea"></textarea>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary h-100" type="submit"
                                            id="button-addon2">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <aside class='task-details'>
            <div class='tag-progress'>
                <h2>Task Progress</h2>
                <% for (let i = 0; i < users.length; i++) { %>
                    <div class='tag-progress'>
                        <p><%= users[i].username; %><span><%= tasks.length; %> </span></p>
                        <progress class="progress progress--python" max="8" value="<%= tasks.length; %>"><%= tasks.length; %></progress>
                    </div>
                <% } %>
                <!-- <div class='tag-progress'>
                    <p>CSS<span>5/9</span></p>
                    <progress class="progress progress--css" max="7" value="2"> 2</progress>
                </div> -->
            </div>
            <!-- <div class='task-activity'>
                <h2>Recent Activity</h2>
                <ul>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Sam</b>uploaded 5 documents
                        <time datetime="2021-11-05T20:00:00">Oct 31</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b>Emily</b> left a comment
                        <time datetime="2021-11-05T20:00:00">Oct 31</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--edit'><i class="fas fa-pencil-alt"></i></span>
                        <b>Christy</b>uploaded 3 documents
                        <time datetime="2021-11-05T20:00:00">Nov 01</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
                        <b>Emily</b>uploaded 3 documents
                        <time datetime="2021-11-05T20:00:00">Nov 01</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b>Sam</b> left a comment
                        <time datetime="2021-11-05T20:00:00">Nov 03</time>
                    </li>
                    <li>
                        <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
                        <b>Christy</b> uploaded 2 documents
                        <time datetime="2021-11-05T20:00:00">Nov 03</time>
                    </li>

                </ul>
            </div> -->
        </aside>
    </div>
    <!--    <script src='public/vendor/jquery-3.6.0.min.js'></script>-->
    <script src='public/vendor/fontawesome/js/all.min.js'></script>
    <script src='public/vendor/bootstrap/js/bootstrap.min.js'></script>
    <script src='public/js/navbar.js' type='module'></script>

</body>
</html>
